In [1]:
from selenium import webdriver
import time
import pandas as pd

op = webdriver.ChromeOptions()
op.add_argument('headless')
browser = webdriver.Chrome(executable_path='./chromedriver', options = op)

In [2]:
initial_data = pd.read_excel('Stock-URL.xlsx')
initial_data

             Name of Stock                                                Url
0               Adani Port  https://www.moneycontrol.com/technical-analysi...
1             Asian Paints  https://www.moneycontrol.com/technical-analysi...
2               Bajaj Auto  https://www.moneycontrol.com/technical-analysi...
3            Bajaj Finance  https://www.moneycontrol.com/technical-analysi...
4            Bajaj Finserv  https://www.moneycontrol.com/technical-analysi...
5          Bhartiya Airtel  https://www.moneycontrol.com/technical-analysi...
6               Coal India  https://www.moneycontrol.com/technical-analysi...
7           Deepak Nitrite  https://www.moneycontrol.com/technical-analysi...
8                      Goa  https://www.moneycontrol.com/technical-analysi...
9                 HDFC AMC  https://www.moneycontrol.com/technical-analysi...
10               HDFC Bank  https://www.moneycontrol.com/technical-analysi...
11               HDFC Life  https://www.moneycontrol.com/technical-analysi...
12                     HEG  https://www.moneycontrol.com/technical-analysi...
13               Hindal Co  https://www.moneycontrol.com/technical-analysi...
14  I Bull Housing Finance  https://www.moneycontrol.com/technical-analysi...
15                    Idea  https://www.moneycontrol.com/technical-analysi...
16         IDFC First Bank  https://www.moneycontrol.com/technical-analysi...
17          Indus Ind Bank  https://www.moneycontrol.com/technical-analysi...
18                     IOC  https://www.moneycontrol.com/technical-analysi...
19                   IRCTC  https://www.moneycontrol.com/technical-analysi...
20                     ITC  https://www.moneycontrol.com/technical-analysi...
21                     L&T  https://www.moneycontrol.com/technical-analysi...
22             M&M Finance  https://www.moneycontrol.com/technical-analysi...
23               Manapuram  https://www.moneycontrol.com/technical-analysi...
24           Maruti-Suzuki  https://www.moneycontrol.com/technical-analysi...
25         Muthood Finance  https://www.moneycontrol.com/technical-analysi...
26                     PFC  https://www.moneycontrol.com/technical-analysi...
27          Philips Carbon  https://www.moneycontrol.com/technical-analysi...
28                Reliance  https://www.moneycontrol.com/technical-analysi...
29                   SBI    https://www.moneycontrol.com/technical-analysi...
30                SBI Life  https://www.moneycontrol.com/technical-analysi...
31               Sunpharma  https://www.moneycontrol.com/technical-analysi...
32          Tata Chemicals  https://www.moneycontrol.com/technical-analysi...
33             Tata Motors  https://www.moneycontrol.com/technical-analysi...
34             Tata Powers  https://www.moneycontrol.com/technical-analysi...
35             Tata Steels  https://www.moneycontrol.com/technical-analysi...
36                     TCS  https://www.moneycontrol.com/technical-analysi...
37                   Wipro  https://www.moneycontrol.com/technical-analysi...

In [3]:
def rsi_value_of_given_stock ( stock_name, stock_url ):
    
    daily_rsi_url = stock_url + 'daily'
    weekly_rsi_url = stock_url + 'weekly'
    monthly_rsi_url = stock_url + 'monthly'
    
    browser.get(daily_rsi_url)
    daily_rsi_value = float( browser.find_element_by_xpath('//*[@id="techindd"]/div[3]/table/tbody[2]/tr[1]/td[2]/strong').text )
    
    browser.get(weekly_rsi_url)
    weekly_rsi_value = float (browser.find_element_by_xpath('//*[@id="techind"]/div[3]/table/tbody[2]/tr[1]/td[2]/strong').text)
    
    browser.get(monthly_rsi_url)
    monthly_rsi_value = float (browser.find_element_by_xpath('//*[@id="techind_m"]/div[3]/table/tbody[2]/tr[1]/td[2]/strong').text)
    
    # Date
    date_for_the_given_stock = browser.find_element_by_xpath('//*[@id="div_bse_livebox_wrap"]/div[1]/div[1]/div/div[1]/span').text

    # Closing
    closing_value = float (browser.find_element_by_xpath('//*[@id="div_nse_livebox_wrap"]/div[1]/div[1]/div/div[2]/span[1]').text)
    
    return [daily_rsi_value, weekly_rsi_value, monthly_rsi_value, date_for_the_given_stock, closing_value]

In [216]:
# Adding Storing Index Values 
data_record = pd.read_excel('Record-Data.xlsx', header=0, index_col=0)
data_record.head(5)

,"Daily as on Apr 1, 16:00","Weekly as on Apr 1, 16:00","Monthly as on Apr 1, 16:00","Closing as on Apr 1, 16:00","Daily as on Apr 5, 16:00","Weekly as on Apr 5, 16:00","Monthly as on Apr 5, 16:00","Closing as on Apr 5, 16:00","Daily as on Apr 6, 16:00","Weekly as on Apr 6, 16:00",...,"Monthly as on Apr 27, 16:00","Closing as on Apr 27, 16:00","Daily as on Apr 28, 16:00","Weekly as on Apr 28, 16:00","Monthly as on Apr 28, 16:00","Closing as on Apr 28, 16:00","Daily as on May 28, 16:00","Weekly as on May 28, 16:00","Monthly as on May 28, 16:00","Closing as on May 28, 16:00"
Name,,,,,,,,,,,,,,,,,,,,,
Reliance,45.45,50.84,61.83,2021.85,42.33,49.01,61.00,1992.60,41.46,48.51,...,60.86,1988.65,52.56,50.17,61.18,1997.3,68.13,56.58,63.46,2094.80
Tata Motors,50.20,68.29,64.87,307.75,48.70,67.27,64.62,305.05,50.30,68.29,...,64.25,301.50,51.49,63.65,64.70,305.9,55.26,66.73,65.42,318.75
Bajaj Finance,47.16,59.15,65.02,5272.15,36.18,52.58,62.01,4962.50,37.72,53.17,...,60.93,4865.05,59.83,57.58,65.08,5280.9,57.39,60.73,67.15,5610.75
Bajaj Finserv,54.05,61.93,63.58,9789.50,46.46,57.90,61.84,9481.65,47.44,58.36,...,64.72,10091.35,65.20,67.16,66.13,10489.3,65.86,72.03,69.95,11713.20
HDFC Bank,45.62,58.41,64.90,1486.75,41.01,54.15,62.55,1449.60,39.91,53.17,...,61.89,1438.70,54.00,56.51,64.26,1476.8,58.79,59.38,63.71,1503.45

In [5]:
for index, row in initial_data.iterrows():
    print (row["Name of Stock"])
    data_for_stock = rsi_value_of_given_stock (row["Name of Stock"], row["Url"])
    data_record.loc[row["Name of Stock"], "Daily as on {}".format(data_for_stock[3])] = data_for_stock[0]
    data_record.loc[row["Name of Stock"], "Weekly as on {}".format(data_for_stock[3])] = data_for_stock[1]
    data_record.loc[row["Name of Stock"], "Monthly as on {}".format(data_for_stock[3])] = data_for_stock[2]
    data_record.loc[row["Name of Stock"], "Closing as on {}".format(data_for_stock[3])] = data_for_stock[4]

data_record

Adani Port
Asian Paints
Bajaj Auto
Bajaj Finance
Bajaj Finserv
Bhartiya Airtel
Coal India
Deepak Nitrite
Goa
HDFC AMC
HDFC Bank
HDFC Life
HEG
Hindal Co
I Bull Housing Finance
Idea
IDFC First Bank
Indus Ind Bank
IOC
IRCTC
ITC
L&T
M&M Finance
Manapuram
Maruti-Suzuki
Muthood Finance
PFC
Philips Carbon
Reliance
SBI
SBI Life
Sunpharma
Tata Chemicals
Tata Motors
Tata Powers
Tata Steels
TCS
Wipro

,"Daily as on Apr 1, 16:00","Weekly as on Apr 1, 16:00","Monthly as on Apr 1, 16:00","Closing as on Apr 1, 16:00","Daily as on Apr 5, 16:00","Weekly as on Apr 5, 16:00","Monthly as on Apr 5, 16:00","Closing as on Apr 5, 16:00","Daily as on Apr 6, 16:00","Weekly as on Apr 6, 16:00",...,"Monthly as on Apr 28, 16:00","Closing as on Apr 28, 16:00","Daily as on Apr 28, 15:57","Weekly as on Apr 28, 15:57","Monthly as on Apr 28, 15:57","Closing as on Apr 28, 15:57","Daily as on May 28, 16:00","Weekly as on May 28, 16:00","Monthly as on May 28, 16:00","Closing as on May 28, 16:00"
Name,,,,,,,,,,,,,,,,,,,,,
Reliance,45.45,50.84,61.83,2021.85,42.33,49.01,61.00,1992.60,41.46,48.51,...,61.18,1997.30,NaN,NaN,NaN,NaN,68.13,56.58,63.46,2094.80
Tata Motors,50.20,68.29,64.87,307.75,48.70,67.27,64.62,305.05,50.30,68.29,...,64.70,305.90,NaN,NaN,NaN,NaN,55.26,66.73,65.42,318.75
Bajaj Finance,47.16,59.15,65.02,5272.15,36.18,52.58,62.01,4962.50,37.72,53.17,...,65.08,5280.90,NaN,NaN,NaN,NaN,57.39,60.73,67.15,5610.75
Bajaj Finserv,54.05,61.93,63.58,9789.50,46.46,57.90,61.84,9481.65,47.44,58.36,...,66.13,10489.30,NaN,NaN,NaN,NaN,65.86,72.03,69.95,11713.20
HDFC Bank,45.62,58.41,64.90,1486.75,41.01,54.15,62.55,1449.60,39.91,53.17,...,64.26,1476.80,NaN,NaN,NaN,NaN,58.79,59.38,63.71,1503.45
HDFC Life,48.23,56.84,64.17,691.00,44.88,54.48,62.95,682.15,51.08,58.10,...,61.69,672.60,NaN,NaN,NaN,NaN,47.60,50.02,61.06,668.95
HDFC AMC,51.49,55.32,60.82,2963.35,45.92,52.83,59.59,2902.35,44.28,52.08,...,57.14,2806.00,NaN,NaN,NaN,NaN,67.69,56.14,59.95,2969.75
Maruti-Suzuki,41.03,46.38,51.47,6923.90,35.54,44.12,50.11,6768.55,34.98,43.89,...,48.48,6573.80,NaN,NaN,NaN,NaN,59.66,50.13,51.91,6970.00
Bajaj Auto,49.99,57.04,61.89,3743.05,41.65,51.76,59.25,3598.50,42.86,52.33,...,63.82,3889.75,NaN,NaN,NaN,NaN,69.88,68.96,67.61,4199.50
IDFC First Bank,43.07,64.20,62.09,57.05,37.22,59.16,60.03,54.30,40.39,60.90,...,60.35,54.65,NaN,NaN,NaN,NaN,60.11,62.27,63.05,59.15
National Peroxide,- -,- -,- -,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Goa,50.76,57.24,50.58,299.95,54.14,58.86,51.12,307.05,62.05,62.82,...,52.01,319.15,NaN,NaN,NaN,NaN,56.05,61.14,53.35,336.60
Philips Carbon,52.29,61.90,64.61,198.70,44.46,56.30,62.31,188.60,55.04,63.57,...,67.08,212.95,NaN,NaN,NaN,NaN,59.20,66.04,68.93,223.85
HEG,59.05,70.13,57.07,1580.90,54.97,67.42,56.33,1537.90,69.67,75.55,...,65.09,2168.75,NaN,NaN,NaN,NaN,49.18,67.99,63.79,2172.95
Bhartiya Airtel,41.86,48.42,57.57,520.80,46.58,50.24,58.32,528.25,48.95,51.15,...,59.85,544.30,NaN,NaN,NaN,NaN,41.28,47.72,57.25,523.60
Coal India,39.57,47.30,38.95,132.15,36.79,45.93,38.20,129.80,37.79,46.21,...,37.92,128.50,NaN,NaN,NaN,NaN,57.19,57.72,43.96,146.90
Wipro,48.86,60.51,75.00,416.40,54.40,62.67,75.90,425.45,55.38,63.05,...,80.81,489.30,NaN,NaN,NaN,NaN,71.12,76.07,83.59,538.70
I Bull Housing Finance,42.67,49.42,40.10,204.65,35.97,46.40,39.29,193.40,37.61,46.85,...,38.96,186.80,NaN,NaN,NaN,NaN,71.41,56.98,42.08,223.55
Idea,47.21,48.51,41.98,10.00,42.12,46.33,40.91,9.55,44.28,47.04,...,39.19,8.65,NaN,NaN,NaN,NaN,51.49,43.79,39.63,8.70
Indus Ind Bank,48.65,58.94,49.63,993.30,39.53,53.48,47.97,937.35,38.14,52.60,...,47.68,926.90,NaN,NaN,NaN,NaN,63.32,58.99,50.55,1019.35
IOC,41.16,49.86,42.01,93.15,36.55,47.35,40.79,90.75,37.80,47.75,...,40.25,89.40,NaN,NaN,NaN,NaN,69.37,66.00,50.89,109.85
IRCTC,45.84,59.50,66.70,1751.75,41.31,56.36,65.13,1702.65,40.09,55.51,...,67.49,1795.85,NaN,NaN,NaN,NaN,62.51,62.53,69.10,1896.25
ITC,57.52,55.79,50.10,220.05,48.08,52.55,47.74,212.55,48.20,52.59,...,45.71,205.50,NaN,NaN,NaN,NaN,59.41,53.11,48.32,212.90
L&T,50.63,62.99,60.98,1444.60,43.69,58.79,59.25,1403.80,43.25,58.53,...,57.79,1375.90,NaN,NaN,NaN,NaN,66.57,63.48,60.98,1478.10
M&M Finance,50.27,61.15,54.38,204.30,44.62,56.70,52.85,195.50,46.82,58.14,...,48.06,167.50,NaN,NaN,NaN,NaN,46.52,44.27,46.86,159.75
Manapuram,45.61,46.27,53.05,157.30,43.08,45.10,52.59,155.10,41.72,44.49,...,51.23,148.80,NaN,NaN,NaN,NaN,52.49,48.25,52.95,156.30
Muthood Finance,43.41,51.38,62.44,1214.35,38.48,48.36,61.05,1184.20,43.12,50.33,...,60.73,1177.85,NaN,NaN,NaN,NaN,59.57,55.70,63.23,1266.20
PFC,37.58,50.35,54.19,114.40,34.70,48.18,52.94,111.45,39.59,50.31,...,51.48,107.95,NaN,NaN,NaN,NaN,63.07,56.58,56.17,120.50
SBI Life,47.48,52.75,55.61,883.45,44.30,50.66,54.76,872.55,52.20,55.14,...,58.52,930.40,NaN,NaN,NaN,NaN,57.08,63.47,61.24,976.85
SBI,49.80,67.21,62.51,370.65,40.70,61.22,60.25,353.55,39.35,60.27,...,61.76,363.40,NaN,NaN,NaN,NaN,76.61,72.63,66.40,422.05
Tata Powers,56.54,70.90,71.82,105.05,53.39,68.74,71.27,103.35,55.51,70.44,...,NaN,NaN,48.82,61.39,67.18,97.95,54.21,65.96,70.11,105.35
TCS,58.02,64.01,71.58,3165.00,63.91,66.56,72.95,3238.90,65.71,67.36,...,70.06,3124.10,NaN,NaN,NaN,NaN,54.14,57.14,68.79,3143.60
Tata Chemicals,64.37,78.21,66.12,779.10,59.15,74.89,65.38,761.75,67.02,79.76,...,65.51,764.65,NaN,NaN,NaN,NaN,47.52,58.52,60.07,708.55
Hindal Co,53.14,57.16,46.15,8.45,53.14,57.16,46.15,8.45,49.19,54.76,...,44.48,7.85,NaN,NaN,NaN,NaN,76.83,71.24,53.30,11.10
Asian Paints,59.65,60.22,68.20,2551.75,55.19,57.77,66.95,2510.65,62.59,62.53,...,69.27,2614.55,NaN,NaN,NaN,NaN,74.99,70.68,74.16,2940.70
Adani Port,60.25,77.12,78.35,736.25,61.37,77.52,78.58,742.25,73.83,82.30,...,78.73,746.25,NaN,NaN,NaN,NaN,56.58,66.75,79.91,776.15
Sunpharma,55.37,58.23,61.76,610.75,54.39,57.75,61.58,608.80,59.07,59.88,...,64.49,643.40,NaN,NaN,NaN,NaN,48.03,62.93,66.50,669.75
Tata Steels,71.78,78.07,72.71,863.05,72.25,78.31,72.87,867.75,70.93,78.03,...,75.96,971.40,NaN,NaN,NaN,NaN,56.18,77.03,79.11,1103.50
Deepak Nitrite,67.78,82.81,89.49,1646.75,63.37,79.85,87.40,1617.15,66.54,83.04,...,91.09,1780.45,NaN,NaN,NaN,NaN,55.53,72.69,86.98,1794.30

In [233]:
cols_at_end = ["RSI VALUE GREATER THAN 60"]
test_data = data_record[[c for c in data_record if c not in cols_at_end] + [c for c in cols_at_end if c in data_record]]

column_length = len(data_record.columns)
row_length = len(data_record)

for outer_index in range (row_length) :
    count = 0
    for inner_index in range (0, column_length) :
        if ((inner_index + 1) % 4 != 0 and float(data_record.iloc[outer_index, inner_index]) > 60 ) :
            count += 1
    data_record.loc[data_record.index[outer_index], "RSI VALUE GREATER THAN 60"] = count ;
    
    
data_record.head(5)

,"Daily as on Apr 1, 16:00","Weekly as on Apr 1, 16:00","Monthly as on Apr 1, 16:00","Closing as on Apr 1, 16:00","Daily as on Apr 5, 16:00","Weekly as on Apr 5, 16:00","Monthly as on Apr 5, 16:00","Closing as on Apr 5, 16:00","Daily as on Apr 6, 16:00","Weekly as on Apr 6, 16:00",...,"Closing as on Apr 27, 16:00","Daily as on Apr 28, 16:00","Weekly as on Apr 28, 16:00","Monthly as on Apr 28, 16:00","Closing as on Apr 28, 16:00","Daily as on May 28, 16:00","Weekly as on May 28, 16:00","Monthly as on May 28, 16:00","Closing as on May 28, 16:00",RSI VALUE GREATER THAN 60
Name,,,,,,,,,,,,,,,,,,,,,
Reliance,45.45,50.84,61.83,2021.85,42.33,49.01,61.00,1992.60,41.46,48.51,...,1988.65,52.56,50.17,61.18,1997.3,68.13,56.58,63.46,2094.80,10.0
Tata Motors,50.20,68.29,64.87,307.75,48.70,67.27,64.62,305.05,50.30,68.29,...,301.50,51.49,63.65,64.70,305.9,55.26,66.73,65.42,318.75,29.0
Bajaj Finance,47.16,59.15,65.02,5272.15,36.18,52.58,62.01,4962.50,37.72,53.17,...,4865.05,59.83,57.58,65.08,5280.9,57.39,60.73,67.15,5610.75,10.0
Bajaj Finserv,54.05,61.93,63.58,9789.50,46.46,57.90,61.84,9481.65,47.44,58.36,...,10091.35,65.20,67.16,66.13,10489.3,65.86,72.03,69.95,11713.20,25.0
HDFC Bank,45.62,58.41,64.90,1486.75,41.01,54.15,62.55,1449.60,39.91,53.17,...,1438.70,54.00,56.51,64.26,1476.8,58.79,59.38,63.71,1503.45,13.0

In [234]:
data_record.to_excel('Record-Data.xlsx')

In [7]:
# # for index, row in initial_data.iterrows():
#     print (rsi_value_of_given_stock (row["Name of Stock"], row["Url"]) )
# for index, row in initial_data.iterrows():
#     print (row["Name of Stock"], row["Url"])

In [8]:
# Adding Storing Index Values 
# data_record = pd.read_excel('Record-Data.xlsx', header=0, index_col=0)
# data_record

In [9]:
# data_record.loc["SOmething", "Data as on asome data "] = 4
# data_record

In [7]:
# rsi_value_of_given_stock("Reliance", "https://www.moneycontrol.com/technical-analysis/relianceindustries/RI/")

In [235]:
test_data = pd.read_excel('Test.xlsx', header=0, index_col=0)
test_data.head(5)

,"Daily as on Apr 1, 16:00","Weekly as on Apr 1, 16:00","Monthly as on Apr 1, 16:00","Closing as on Apr 1, 16:00","Daily as on Apr 5, 16:00","Weekly as on Apr 5, 16:00","Monthly as on Apr 5, 16:00","Closing as on Apr 5, 16:00","Daily as on Apr 6, 16:00","Weekly as on Apr 6, 16:00","Monthly as on Apr 6, 16:00","Closing as on Apr 6, 16:00",RSI VALUE GREATER THAN 60,"Daily as on May 28, 16:00","Weekly as on May 28, 16:00","Monthly as on May 28, 16:00","Closing as on May 28, 16:00"
Name,,,,,,,,,,,,,,,,,
Reliance,45.45,50.84,61.83,2021.85,42.33,49.01,61.00,1992.60,41.46,48.51,60.70,1984.30,3,68.13,56.58,63.46,2094.80
Tata Motors,50.20,68.29,64.87,307.75,48.70,67.27,64.62,305.05,50.30,68.29,64.87,307.75,6,55.26,66.73,65.42,318.75
Bajaj Finance,47.16,59.15,65.02,5272.15,36.18,52.58,62.01,4962.50,37.72,53.17,62.36,4993.10,3,57.39,60.73,67.15,5610.75
Bajaj Finserv,54.05,61.93,63.58,9789.50,46.46,57.90,61.84,9481.65,47.44,58.36,62.09,9519.50,4,65.86,72.03,69.95,11713.20
HDFC Bank,45.62,58.41,64.90,1486.75,41.01,54.15,62.55,1449.60,39.91,53.17,61.99,1440.25,3,58.79,59.38,63.71,1503.45

In [236]:
cols_at_end = ["RSI VALUE GREATER THAN 60"]
test_data = test_data[[c for c in test_data if c not in cols_at_end] + [c for c in cols_at_end if c in test_data]]

test_data

,"Daily as on Apr 1, 16:00","Weekly as on Apr 1, 16:00","Monthly as on Apr 1, 16:00","Closing as on Apr 1, 16:00","Daily as on Apr 5, 16:00","Weekly as on Apr 5, 16:00","Monthly as on Apr 5, 16:00","Closing as on Apr 5, 16:00","Daily as on Apr 6, 16:00","Weekly as on Apr 6, 16:00","Monthly as on Apr 6, 16:00","Closing as on Apr 6, 16:00","Daily as on May 28, 16:00","Weekly as on May 28, 16:00","Monthly as on May 28, 16:00","Closing as on May 28, 16:00",RSI VALUE GREATER THAN 60
Name,,,,,,,,,,,,,,,,,
Reliance,45.45,50.84,61.83,2021.85,42.33,49.01,61.00,1992.60,41.46,48.51,60.70,1984.30,68.13,56.58,63.46,2094.80,3
Tata Motors,50.20,68.29,64.87,307.75,48.70,67.27,64.62,305.05,50.30,68.29,64.87,307.75,55.26,66.73,65.42,318.75,6
Bajaj Finance,47.16,59.15,65.02,5272.15,36.18,52.58,62.01,4962.50,37.72,53.17,62.36,4993.10,57.39,60.73,67.15,5610.75,3
Bajaj Finserv,54.05,61.93,63.58,9789.50,46.46,57.90,61.84,9481.65,47.44,58.36,62.09,9519.50,65.86,72.03,69.95,11713.20,4
HDFC Bank,45.62,58.41,64.90,1486.75,41.01,54.15,62.55,1449.60,39.91,53.17,61.99,1440.25,58.79,59.38,63.71,1503.45,3
HDFC Life,48.23,56.84,64.17,691.00,44.88,54.48,62.95,682.15,51.08,58.10,64.98,697.15,47.60,50.02,61.06,668.95,3
HDFC AMC,51.49,55.32,60.82,2963.35,45.92,52.83,59.59,2902.35,44.28,52.08,59.08,2882.90,67.69,56.14,59.95,2969.75,1
Maruti-Suzuki,41.03,46.38,51.47,6923.90,35.54,44.12,50.11,6768.55,34.98,43.89,49.96,6751.30,59.66,50.13,51.91,6970.00,0
Bajaj Auto,49.99,57.04,61.89,3743.05,41.65,51.76,59.25,3598.50,42.86,52.33,59.62,3615.50,69.88,68.96,67.61,4199.50,1
IDFC First Bank,43.07,64.20,62.09,57.05,37.22,59.16,60.03,54.30,40.39,60.90,60.94,55.30,60.11,62.27,63.05,59.15,5

In [237]:
column_length = len(test_data.columns)
row_length = len(test_data)

for outer_index in range (row_length) :
    count = 0
    for inner_index in range (0, column_length) :
        if ((inner_index + 1) % 4 != 0 and float(test_data.iloc[outer_index, inner_index]) > 60 ) :
            count += 1    
    test_data.loc[test_data.index[outer_index], "RSI VALUE GREATER THAN 60"] = count ;
    
    
test_data

,"Daily as on Apr 1, 16:00","Weekly as on Apr 1, 16:00","Monthly as on Apr 1, 16:00","Closing as on Apr 1, 16:00","Daily as on Apr 5, 16:00","Weekly as on Apr 5, 16:00","Monthly as on Apr 5, 16:00","Closing as on Apr 5, 16:00","Daily as on Apr 6, 16:00","Weekly as on Apr 6, 16:00","Monthly as on Apr 6, 16:00","Closing as on Apr 6, 16:00","Daily as on May 28, 16:00","Weekly as on May 28, 16:00","Monthly as on May 28, 16:00","Closing as on May 28, 16:00",RSI VALUE GREATER THAN 60
Name,,,,,,,,,,,,,,,,,
Reliance,45.45,50.84,61.83,2021.85,42.33,49.01,61.00,1992.60,41.46,48.51,60.70,1984.30,68.13,56.58,63.46,2094.80,5
Tata Motors,50.20,68.29,64.87,307.75,48.70,67.27,64.62,305.05,50.30,68.29,64.87,307.75,55.26,66.73,65.42,318.75,8
Bajaj Finance,47.16,59.15,65.02,5272.15,36.18,52.58,62.01,4962.50,37.72,53.17,62.36,4993.10,57.39,60.73,67.15,5610.75,5
Bajaj Finserv,54.05,61.93,63.58,9789.50,46.46,57.90,61.84,9481.65,47.44,58.36,62.09,9519.50,65.86,72.03,69.95,11713.20,7
HDFC Bank,45.62,58.41,64.90,1486.75,41.01,54.15,62.55,1449.60,39.91,53.17,61.99,1440.25,58.79,59.38,63.71,1503.45,4
HDFC Life,48.23,56.84,64.17,691.00,44.88,54.48,62.95,682.15,51.08,58.10,64.98,697.15,47.60,50.02,61.06,668.95,4
HDFC AMC,51.49,55.32,60.82,2963.35,45.92,52.83,59.59,2902.35,44.28,52.08,59.08,2882.90,67.69,56.14,59.95,2969.75,2
Maruti-Suzuki,41.03,46.38,51.47,6923.90,35.54,44.12,50.11,6768.55,34.98,43.89,49.96,6751.30,59.66,50.13,51.91,6970.00,0
Bajaj Auto,49.99,57.04,61.89,3743.05,41.65,51.76,59.25,3598.50,42.86,52.33,59.62,3615.50,69.88,68.96,67.61,4199.50,4
IDFC First Bank,43.07,64.20,62.09,57.05,37.22,59.16,60.03,54.30,40.39,60.90,60.94,55.30,60.11,62.27,63.05,59.15,8

In [239]:
test_data.to_excel('Test.xlsx')

In [ ]:
'''

column_length = len(test_data.columns)
row_length = len(test_data)

for outer_index in range (row_length) :
    count = 0
    for inner_index in range (0, column_length) :
        if ((inner_index + 1) % 4 != 0 and float(test_data.iloc[outer_index, inner_index]) > 60 ) :
            count += 1
            
        
    print(count)
    
test_data

column_length = len(test_data.columns)
row_length = len(test_data)


for index, row in initial_data.iterrows():
    print (row["Name of Stock"])
    for outer_index in range (row_length) :
        count = 0 
        for inner_index in range (1, column_length) :
            if ((inner_index + 1 ) % 4 != 0 and float(test_data.iloc[outer_index, inner_index]) > 60 ) :
                print(test_data.iloc[outer_index, inner_index])
                count += 1
        
        print (count)

test_data = pd.read_excel('Test.xlsx', header=0, index_col=0)
test_data

column_length = len(test_data.columns)
row_length = len(test_data)

for outer_index in range (row_length) :
    count = 0
    print(test_data.index[outer_index])
    for inner_index in range (0, column_length) :
        if ((inner_index + 1) % 4 != 0 and float(test_data.iloc[outer_index, inner_index]) > 60 ) :
            count += 1    
    print(count)
    test_data.loc[test_data.index[outer_index], "RSI VALUE GREATER THAN 60"] = count ;
    
    
test_data


'''