In [44]:
from selenium import webdriver
import time
import pandas as pd

op = webdriver.ChromeOptions()
op.add_argument('headless')
browser = webdriver.Chrome(executable_path='./chromedriver', options = op)

In [45]:
initial_data = pd.read_excel('Stock-URL.xlsx')
initial_data

   Name of Stock                                                Url
0       Reliance  https://www.moneycontrol.com/technical-analysi...
1    Tata Motors  https://www.moneycontrol.com/technical-analysi...
2  Bajaj Finance  https://www.moneycontrol.com/technical-analysi...
3  Bajaj Finserv  https://www.moneycontrol.com/technical-analysi...
4      HDFC Bank  https://www.moneycontrol.com/technical-analysi...
5      HDFC Life  https://www.moneycontrol.com/technical-analysi...
6       HDFC AMC  https://www.moneycontrol.com/technical-analysi...
7  Maruti-Suzuki  https://www.moneycontrol.com/technical-analysi...
8     Bajaj Auto  https://www.moneycontrol.com/technical-analysi...

In [46]:
def rsi_value_of_given_stock ( stock_name, stock_url ):
    
    daily_rsi_url = stock_url + 'daily'
    weekly_rsi_url = stock_url + 'weekly'
    monthly_rsi_url = stock_url + 'monthly'
    
    browser.get(daily_rsi_url)
    daily_rsi_value = browser.find_element_by_xpath('//*[@id="techindd"]/div[3]/table/tbody[2]/tr[1]/td[2]/strong').text
    
    browser.get(weekly_rsi_url)
    weekly_rsi_value = browser.find_element_by_xpath('//*[@id="techind"]/div[3]/table/tbody[2]/tr[1]/td[2]/strong').text
    
    browser.get(monthly_rsi_url)
    monthly_rsi_value = browser.find_element_by_xpath('//*[@id="techind_m"]/div[3]/table/tbody[2]/tr[1]/td[2]/strong').text
    
    # Date
    date_for_the_given_stock = browser.find_element_by_xpath('//*[@id="div_bse_livebox_wrap"]/div[1]/div[1]/div/div[1]/span').text

    # Closing
    closing_value = browser.find_element_by_xpath('//*[@id="div_nse_livebox_wrap"]/div[1]/div[1]/div/div[2]/span[1]').text
    
    return [daily_rsi_value, weekly_rsi_value, monthly_rsi_value, date_for_the_given_stock, closing_value]

In [66]:
# Adding Storing Index Values 
data_record = pd.read_excel('Record-Data.xlsx', header=0, index_col=0)
data_record

,"Daily as on Apr 1, 16:00","Weekly as on Apr 1, 16:00","Monthly as on Apr 1, 16:00","Closing as on Apr 1, 16:00"
Name,,,,
Reliance,45.45,50.84,61.83,2021.85
Tata Motors,50.20,68.29,64.87,307.75
Bajaj Finance,47.16,59.15,65.02,5272.15
Bajaj Finserv,54.05,61.93,63.58,9789.50
HDFC Bank,45.62,58.41,64.90,1486.75
HDFC Life,48.23,56.84,64.17,691.00
HDFC AMC,51.49,55.32,60.82,2963.35
Maruti-Suzuki,41.03,46.38,51.47,6923.90
Bajaj Auto,49.99,57.04,61.89,3743.05

In [67]:
for index, row in initial_data.iterrows():
    data_for_stock = rsi_value_of_given_stock (row["Name of Stock"], row["Url"])
    data_record.loc[row["Name of Stock"], "Daily as on {}".format(data_for_stock[3])] = data_for_stock[0]
    data_record.loc[row["Name of Stock"], "Weekly as on {}".format(data_for_stock[3])] = data_for_stock[1]
    data_record.loc[row["Name of Stock"], "Monthly as on {}".format(data_for_stock[3])] = data_for_stock[2]
    data_record.loc[row["Name of Stock"], "Closing as on {}".format(data_for_stock[3])] = data_for_stock[4]

data_record

,"Daily as on Apr 1, 16:00","Weekly as on Apr 1, 16:00","Monthly as on Apr 1, 16:00","Closing as on Apr 1, 16:00"
Name,,,,
Reliance,45.45,50.84,61.83,2021.85
Tata Motors,50.20,68.29,64.87,307.75
Bajaj Finance,47.16,59.15,65.02,5272.15
Bajaj Finserv,54.05,61.93,63.58,9789.50
HDFC Bank,45.62,58.41,64.90,1486.75
HDFC Life,48.23,56.84,64.17,691.00
HDFC AMC,51.49,55.32,60.82,2963.35
Maruti-Suzuki,41.03,46.38,51.47,6923.90
Bajaj Auto,49.99,57.04,61.89,3743.05

In [69]:
data_record.to_excel('Record-Data.xlsx')

In [39]:
# # for index, row in initial_data.iterrows():
#     print (rsi_value_of_given_stock (row["Name of Stock"], row["Url"]) )
# for index, row in initial_data.iterrows():
#     print (row["Name of Stock"], row["Url"])

In [71]:
# Adding Storing Index Values 
# data_record = pd.read_excel('Record-Data.xlsx', header=0, index_col=0)
# data_record

In [70]:
# data_record.loc["SOmething", "Data as on asome data "] = 4
# data_record